* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open_Sans";
  src: url("../style/fonts/OpenSans-VariableFont_wdth\wght.ttf");
}
@font-face {
  font-family: "Space_Mono";
  src: url("../style/fonts/SpaceMono-Regular.ttf") format("woff2"),
    url("../style/fonts/SpaceMono-Regular.ttf") format("woff");
}
@font-face {
  font-family: "Lexend_Deca";
  src: url("../style/fonts/LexendDeca-VariableFont_wght.ttf");
}

:root {
  --font-family: "Open_Sans", sans-serif;
  --second-family: "Space_Mono", sans-serif;
  --third-family: "Lexend_Deca", sans-serif;
}

//--------------------------------------  Header -----------------------------------  //

.container {
  max-width: 1100px;
  padding: 0 50px;
  margin: 0 auto;
}

.header {
  background: #20563f;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;

    .menuBar {
      display: none;
    }

    ul {
      display: flex;

      li {
        padding: 16px;
        width: 113px;
        height: 56px;
        list-style: none;
        display: flex;
        justify-content: center;

        .text {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 15px;
          line-height: 160%;
          color: #fff;
          text-decoration: none;

          &:hover {
            border-bottom: 1px solid #fff;
          }
        }
      }
    }
  }
}
//--------------------------------------  Header -----------------------------------//
//-------------------------------------- Header responsive -------------------------//
@media screen and (max-width: 768px) {
  .header {
    width: 100%;

    .container {
      padding: 0 30px;
    }
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  .header {
    width: 100%;

    .container {
      padding: 0px 40px;
    }
  }
}
@media (min-width: 535px) and (max-width: 655px) {
  .header {
    width: 100%;

    .container {
      padding: 0px 20px;

      .headerLogo {
        display: none;
      }
    }
  }
}
@media (min-width: 0px) and (max-width: 535px) {
  .header {
    width: 100%;
    position: fixed;
    z-index: 1;

    .container {
      padding: 0px 20px;

      .menuBar {
        display: inline;
        position: relative;
      }
      ul {
        display: none;
      }

      .menuOpens {
        display: inline;

        ol .text {
          text-decoration: none;
          list-style: none;
        }
      }
      #menuBacround{
        width: 500px;
        height: 1000px;
        // background-color: transparent;
        background-color: #171717;
        opacity: 0.5;
        position: absolute;
        top: -30%;
        left: -30%;
        z-index: 1;
      }
      .olHeader {
        width: 150px;
        height: 100vh;
        margin-left: -20px;
        padding: 20px 20px;
        z-index: 1;
        background-color: #1c4a36;
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translate(0%, 4%);
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .olHeader .text {
        text-decoration: none;
        list-style: none;
        color: #fff;
        font-size: 20px;
      }
      .menuNoOpens {
        display: none;
      }
    }
  }
}
//-------------------------------------- Header responsive -------------------------//

//=====================================================================================================

//--------------------------------------  Footer -----------------------------------//
.footer {
  .footer_top {
    background-color: #20563f;
    width: 100%;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 243px;

      .footerTex1 {
        width: 447px;
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: -0.04em;
        color: #fff;
      }

      .footerBtns {
        display: flex;
        width: 324px;
        gap: 20px;

        .textDicNone {
          text-decoration: none;

          .footerBtn {
            width: 176px;
            height: 44px;
            background-color: #fff;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            img {
              width: 21px;
              height: 22px;
            }

            .footerBtnText {
              display: flex;
              flex-direction: column;

              p:nth-child(1) {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 11px;
                line-height: 155%;
                letter-spacing: -0.08em;
                color: #1c4a36;
              }

              p:nth-child(2) {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                letter-spacing: -0.06em;
                color: #1c4a36;
              }
            }
          }
        }
      }
    }
  }

  .footer_bottom {
    background: #2f7b5b;
    width: 100%;

    .container {
      height: 77px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .footerBottomUl {
        ul {
          display: flex;

          li {
            padding: 16px;
            width: 113px;
            height: 56px;
            list-style: none;
            display: flex;
            justify-content: center;

            .text {
              font-family: var(--font-family);
              font-weight: 400;
              font-size: 15px;
              line-height: 160%;
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }

      .footerBottomUl2 {
        ul {
          display: flex;
          gap: 20px;
          align-items: center;

          li {
            list-style: none;
          }
        }
      }
    }
  }
}
//--------------------------------------  Footer -----------------------------------//
//-------------------------------------- Footer responsive -------------------------//
@media screen and (max-width: 768px) {
  .footer {
    width: 100%;

    .footer_top {
      width: 100%;
      height: 300px;

      .container {
        padding: 40px 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .footerTex1 {
          width: 60%;
          display: flex;
          margin: 0 auto;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  .footer {
    width: 100%;

    .footer_top {
      width: 100%;
      height: 300px;
      .container {
        padding: 40px 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .footerTex1 {
          width: 60%;
          display: flex;
          margin: 0 auto;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}
@media (min-width: 535px) and (max-width: 655px) {
  .footer {
    width: 100%;

    .container {
      padding: 0px 20px;
    }

    .footer_bottom {
      width: 100%;
      .container {
        width: 100%;
        .footerBottomUl2 {
          display: none;
        }
      }
    }
  }
}
@media (min-width: 0px) and (max-width: 535px) {
  .footer {
    width: 100%;
    padding-top: 20px;

    .footer_top {
      height: 270px;

      .container {
        padding: 20px 20px;

        .footerTex1 {
          font-size: 30px;
        }

        .footerBtns {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
    .footer_bottom {
      .container {
        padding: 0 20px;

        .FooterLogo{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
        }

        .footerBottomUl2,
        .footerBottomUl {
          display: none;
        }
      }
    }
  }
}
//-------------------------------------- Footer responsive -------------------------//
//=====================================================================================================

//--------------------------------------  Home -----------------------------------//
.home {
  background-color: #fff;
  width: 100%;

  .container {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    height: 100%;

    .vedios{
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      p{
        font-family: var(--second-family);
        color: #1c4a36;
        font-size: 25px;
        text-align: center;
      }

    }

    img {
      width: 409px;
      height: 401px;
      border-radius: 100%;
      fill: #d8d8d8;
    }

    .homeText {
      width: 450px;
      height: 262px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      p:nth-child(1) {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: -0.04em;
        color: #495567;
        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      }
      p:nth-child(2) {
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 15px;
        line-height: 167%;
        color: #939caa;
      }
    }
  }
}
//--------------------------------------  Home -----------------------------------//
//-------------------------------------- Home responsive -------------------------//
@media screen and (max-width: 768px) {
  .home {
    width: 100%;

    .container {
      padding: 30px 30px;
      display: flex;
      flex-direction: column;

      img {
        width: 250px;
        height: 250px;
      }

      p {
        text-align: center;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1100px) {
  .home {
    width: 100%;

    .container {
      padding: 30px 40px;
    }
  }
}
@media (min-width: 0px) and (max-width: 535px) {
  .home {
    width: 100%;
    // height: 100%;
   

    #homeCont{
      min-height: 700px;
      padding-top: 100px;
    }

    .container {
      padding: 20px 20px;
    

      .vedios{
        min-height:300px;
        
        video{
          border: 1px solid #fff;
        }

        p{
          font-size: 16px;
        }
      }

      .homeText {
        width: 90%;
        p:nth-child(1) {
          font-size: 30px;
        }
        p:nth-child(2) {
          font-size: 16px;
        }
      }
    }
  }
}
//-------------------------------------- Home responsive -------------------------//
//=====================================================================================================

//--------------------------------------  Main -----------------------------------//

//--------------------------------------  Main -----------------------------------//

//=====================================================================================================

//--------------------------------------  Taqvim -----------------------------------//
.taqvims {
  .container {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    #citys {
      width: 90%;
      font-size: 20px;
      font-family: var(--second-family);
      background-color: #1c4a36;
      color: #fff;
      outline: none;
    }

    .taqvimJadval {
      width: 90%;

      .tableTaqvim {
        width: 100%;
        gap: 0;
        padding: 0;
        margin: 0;
        border: 2px solid #525353;
        border-collapse: collapse;

        tr th,
        tr td {
          border: 2px solid #525353;
        }
        tr td {
          font-family: var(--second-family);
        }
        tr th {
          font-family: var(--third-family);
          background-color: #1c4a36;
          color: #fff;
          height: 40px;
          border: 2px solid #525353;
        }

        .TaqvimJuma {
          border-bottom: 2px solid #1c4a36;
          color: #fff;
          background-color: #2f7b5b;
          font-weight: 900;
        }
      }
    }
  }
}
//--------------------------------------  Taqvim -----------------------------------//
//-------------------------------------- Taqvim responsive -------------------------//
@media (min-width: 0px) and (max-width: 535px) {
  .taqvims {
    width: 100%;
    padding-top: 60px;
    .container {
      font-size: 13px;
    }
  }
}
//-------------------------------------- Taqvim responsive -------------------------//
//=====================================================================================================

//--------------------------------------  Surah -----------------------------------//
.surah {
  width: 100%;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 547px;
    gap: 30px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-direction: column;

      p:nth-child(1) {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 15px;
        line-height: 173%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #000;
      }

      p:nth-child(3) {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 15px;
        line-height: 187%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #000;
      }
    }
  }
}

.SurahSavol {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    .savol {
      padding: 10px 20px;
      background-color: #20563f;
      color: #fff;
      text-decoration: none;

      &:hover {
        background-color: #2f7b5b;
      }
    }
  }
}

.surahsavollar {
  
  .www {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px 0;

    h1 {
      color: #1c4a36;
      font-family: var(--second-family);
    }

    p {
      color: #20563f;
      font-family: var(--font-family);
    }
  }
  .SurahSavol {
    .container {
      display: flex;
      justify-content: space-between;
    }
  }
}
//--------------------------------------  Surah -----------------------------------//
//-------------------------------------- Duolar responsive -------------------------//
@media (min-width: 768px) and (max-width: 1100px) {
  .SurahSavol {
    width: 100%;
    .container {
      height: 100px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
@media screen and (max-width: 768px) {
  .SurahSavol {
    width: 100%;
    .container {
      height: 150px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
@media (min-width: 0px) and (max-width: 535px) {
  .surahsavollar {
    padding: 20px 20px;
    padding-top: 60px;
  }
  .surah {
    padding-top: 80px;
    .container {
      padding: 20px 20px;
      height: 750px;
    }
  }
  .SurahSavol {
    width: 100%;
    .container {
      height: 200px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      font-size: 15px;
    }
  }
}
//-------------------------------------- Duolar responsive -------------------------//
//=============================================================================================

//--------------------------------- namozVaqti -------------------------------------//
.namozVaqti {
  width: 100%;

  .container {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: 900px;

    #city {
      width: 90%;
      outline: none;
      height: 35px;
      background-color: #1c4a36;
      color: #fff;
      font-family: var(--second-family);
      font-size: 20px;
    }

    .hudud {
      width: 90%;
      background-color: #2f7b5b;
      color: #fff;
      font-size: 25px;
      font-weight: 900;
      font-family: var(--second-family);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }

    .VaqtlarDivs {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 90%;
      align-items: center;
      gap: 20px;
      height: 600px;

      div {
        display: flex;
        // align-items: center;
        justify-content: space-between;
        width: 350px;
        padding: 10px 20px;
        background-color: #20563f;
        color: #fff;

        img {
          width: 40px;
          height: 40px;
        }

        div:nth-child(1) {
          width: 100px;
          border-right: 1px solid #fff;
        }

        div {
          display: flex;
          flex-direction: column;
          //   align-items: center;

          p:nth-child(1) {
            font-family: var(--font-family);
          }

          p:nth-child(2) {
            font-family: var(--second-family);
          }
        }
      }
    }

    .KunHisobi {
      color: #1c4a36;
      font-size: 20px;
    }
  }
}
//--------------------------------- namozVaqti -------------------------------------//
//-------------------------------------- namoz vaqti responsive -------------------------//
@media screen and (max-width: 768px) {
  .namozVaqti{
    width: 100%;

    .container{
      height: 1000px;

      .hudud{
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  .namozVaqti{
    width: 100%;

    .container{

      .hudud{
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
@media (min-width: 0px) and (max-width: 535px) {
  .namozVaqti{
    width: 100%;
    padding-top: 60px;

    .container{
      padding: 0 20px;

      .hudud{
        display: flex;
        flex-wrap: wrap;
        font-size: 15px;
      }

      .VaqtlarDivs{
        div{
          width: 300px;
        }

        .KunHisobi{
             text-align: center;
        }
      }
    }
  }
}
//-------------------------------------- namoz vaqti responsive -------------------------//
